link(rel='stylesheet', href='/stylesheets/xchart.min.css')
script(src="/javascripts/lib/d3.min.js")
script(src="/javascripts/lib/xcharts.min.js")
script(src="/javascripts/lib/xdate.js")
script(src="/javascripts/reportUtils.js")

div.row-fluid(style="margin-top:100px;")
  div.span3.badges-earned-count.metrics-box
    h3 Badges Earned
    p
      img(src="/images/spinner.gif")
  div.span3.badges-created-count.metrics-box
    h3 Badges Created
    p
      img(src="/images/spinner.gif")
  div.span3.users-created-count.metrics-box
    h3 Users Created
    p
      img(src="/images/spinner.gif")
div.row-fluid
  div.span12.badges-earned-chart-row(style="margin-top:50px;")
    legend Earned Badges Overview
    figure#badges-earned-chart(style="width:100%; height:300px;")
div.row-fluid
  div.span12.badges-created-chart-row(style="margin-top:50px;")
    legend Badges Created Overview
    figure#badges-created-chart(style="width:100%; height:300px;")
div.row-fluid
  div.span12.users-created-chart-row(style="margin-top:50px;")
    legend Users Created Overview
    figure#users-created-chart(style="width:100%; height:300px;")

script
  var utils = ReportUtils;

  $.getJSON("/metrics/report.json", function(data){
    for (var i in data) {
      var obj = data[ i ];
      var dom = obj.domId;
      var chartSelector = "#" + dom + "-chart";
      var countSelector = "." + dom + "-count";
      var chart = new xChart('bar', obj.chartData, chartSelector, obj.opts);
      var countEl = $( countSelector );
      if ( countEl && countEl.length > 0 ) {
        console.log( data[ i ] )
        $( countSelector ).find( "p" ).html( data[ i ].count ); 
      }
    }
  });













