!!!
html
  head
    - if (typeof title != 'undefined')
      title=title
    - else
      title Sash

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/alertify.default.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(rel='stylesheet', href='/stylesheets/select2.css')
    script(src="/javascripts/lib/jquery.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    script(src='/javascripts/lib/alertify.js')
    script(src="/javascripts/application.js")
  body
    #header
      h1
        - if (typeof title != 'undefined')
          a(href='/')=title
        - else
          a(href='/') Sash

      if logged_in
        a#logout(href="/logout")="Log Out"

    each flashType in ['info', 'error']
      if flash[flashType]
        p.flash(class=flashType)
          = flash[flashType]

    .container
      != body
