!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')
  body
    #header
      h1= title

    each flashType in ['info', 'error']
      if flash[flashType]
        p.flash(class=flashType)
          = flash[flashType]

    != body
