label
  | Name
  br
  input(class='span6', required, type='text', name='badge[name]', value=badge.name)
label
  | Description
  br
  textarea(class='span6', name='badge[description]')
    =badge.description
label
  | Criteria
  br
  textarea(class='span6', required, name='badge[criteria]')
    =badge.criteria
label
  | Version
  br
  input(class='span2', required, type='text', name='badge[version]', value=badge.version)
label
  | Tags (comma seperated)
  br
  input(class='span4', type='text', name='badge[tags]', rel='tag', value=badge.tags.join(','))
div.clear
  br
  label
    | Image
    input(type='file', required, name='badge[image]')
input(type='hidden', name='badge[issuer_id]', value=orgId)
input(type='submit', disabled value='Save!')

script(src="/javascripts/lib/select2.min.js")

script
  $(document).ready(function(){
    $('[rel=tag]').select2({tags: []})
  });
