form(action=urlFor(badge), method='post', enctype="multipart/form-data")
  label
    | Name
    br
    input(class='span6', type='text', name='badge[name]')
  label
    | Description
    textarea(class='span6', name='badge[description]')
  label
    | Criteria
    textarea(class='span6', name='badge[criteria]')
  label
    | Version
    br
    input(class='span2', type='text', name='badge[version]')
  label
    | Image
    input(type='file', name='badge[image]')
  input(type='hidden', name='badge[issuer_id]', value=orgId)
  input(type='submit', value='Save!')
