h1
  |Awesome Badge Org BRO
div
  = "Signed in as " + org.name

div
  h2
    | Quick Summary
  ul
    li
      | You have #{users.length} Users
    li
      | You have #{badges.length} badges
div
  h2
    | Actions
  ul
    li
      a(href='/badges/new', class="new-badge")
        | Create a New Badge
    li
      a(href='/users', class="new-badge")
        | Manage Users
    li
      a(href='/badges', class="new-badge")
        | Badges
