
div.search-content
	form.user-search-form.form-search
		input.input-large.search-query.user-search-typeahead(type="text", placeholder="Username")
		button#user-search-go.btn(type="button") Search
div.user-search-results
	p.no-results No Results

script
	var usersObj = !{JSON.stringify(users)}
	var usernamesToIds = {};
	var usernames = $.map(usersObj, function (obj, index){
		usernamesToIds[obj.username] = obj._id;
		return obj.username;
	});
		
	$('.user-search-typeahead').typeahead({
		source: usernames
	});

	$('#user-search-go').on('click', onSearch);

	function onSearch(e) {
		var query = $('.search-query').val();
		if ( query && query !== '' ) {
			$('.search-query').removeClass( 'input-error' );
			var path = '/users/username/' + query;
			$.get(path, displayResults);
		} else {
			$('.search-query').addClass( 'input-error' );
		}
	}

	function displayResults(results) {
		if ( results.length > 0 ) {
			results.forEach(function (u){
				u.name = u.name || '';
			});
			$.get('/users/render', {users:results}, renderResults);
		} else {
			noResults();
		}
	}

	function renderResults(data) {
		$('.user-search-results').html( data );
	}

	function noResults() {
		$('.no-results').show();
	}