
div.search-content
	form.user-search-form.form-search
		input.input-large.search-query.user-search-typeahead(type="text", placeholder="Username Or User Email")
		button.btn(type="btn") Search
		br
		p Or
		button.btn.btn-large.btn-block.btn-primary.all-users-btn(type="button") Show all users
//- div.user-search-results
//- 	div.user-result-item
//- 		div.pull-left.user-image
//- 		div.user-info
//- 			span.name john doe
//- 			br
//- 			span.org johnny
//- 			br
//- 			span.username johnnray

script
	$('.user-search-typeahead').typeahead({
		source: "#{users}".split(',')
	});
