@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlabItalic';
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot");
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500italic-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500italic-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlabItalic';
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot");
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500italic-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500italic-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
body h1 {
  margin: 0.4em 0 0 -2em;
  text-align: center;
}
body p {
  padding: 1em;
}
body #header {
  background: url("../images/logo-pie.png") 1.4375em 1.4375em no-repeat;
  height: 6.25em;
  padding: 1.4375em;
  padding-left: 7.6875em;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlabItalic';
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot");
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500italic-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500italic-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #bbb;
  color: #717171;
  font: 16px 'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
body a {
  text-decoration: none;
  border-bottom: 0.0625em dotted #024a7f;
}
body a:link {
  color: #024a7f;
}
body a:visited,
body a:hover {
  color: #393939;
}
body a:hover {
  color: #0072bc;
}
body h1 {
  font-size: 3em;
  font-weight: normal;
  letter-spacing: 0.041666666666666664em;
  text-transform: uppercase;
}
body p span.title {
  font-weight: bold;
}
body p {
  clear: both;
}
body #form {
  margin: 1.25em auto 4.5em auto;
  width: 55%;
  text-align: left;
}
body #form label {
  margin: 1em;
  display: block;
}
body #form input,
body #form select {
  width: 100%;
  margin-top: 0.3125em;
  display: block;
}
body #form input[type='submit'] {
  width: auto;
  float: right;
  padding: 0.1388888888888889em 0.6666666666666666em;
}
body h1 {
  text-shadow: 0 1px 0 #666;
}
body #header {
  background-color: #8d8d8d;
  border-top: 1px solid #bbb;
  border-bottom: 3px solid #666;
  color: #fff;
}
body #form {
  font-size: 2.25em;
  text-shadow: 0 1px 0 #e6e6e6;
}
body #form input,
body #form select,
body #form option {
  background-color: #fff;
  border: 1px solid #0072bc;
  border-radius: 0.1388888888888889em;
  color: #024a7f;
  font: 1em 'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body #form input[type='file'] {
  background-color: transparent;
  border: none;
  font-size: 1em;
  padding-top: 0.5em;
}
body #form input[type='submit'] {
  background-color: #024a7f;
  border-color: #404040;
  border-radius: 1em;
  color: #fff;
  text-shadow: 0 1px 0 #8d8d8d;
}
