@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlabItalic';
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot");
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500italic-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500italic-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlabItalic';
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot");
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500italic-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500italic-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
body {
  margin: 0;
  padding: 0;
}
body h1 {
  margin: 0.4em 0 0 -2em;
  text-align: center;
}
body p {
  padding: 1em;
}
body #header {
  background: url("../images/logo-pie.png") 1.4375em 1.4375em no-repeat;
  height: 6.25em;
  padding: 1.4375em;
  padding-left: 7.6875em;
}
body p.flash {
  margin: 0 auto;
  font-size: 1.5em;
  -webkit-transition: opacity 1s ease-out;
}
body p.flash.error {
  background-color: #ed5a02;
  border-top: 1px solid #f28b00;
  border-bottom: 1px solid #f28b00;
  color: #fff;
}
body p.flash.error:before {
  font-family: 'MuseoSlabItalic', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  content: 'Whoops! ';
}
body p.flash.info {
  background-color: #fff;
  border-top: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
  color: #010101;
}
body p.flash.info:before {
  font-family: 'MuseoSlabItalic', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  content: 'Hurray! ';
}
body p.thanks {
  line-height: 1.5em;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlabItalic';
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot");
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500italic-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500italic-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
body {
  background-color: #bbb;
  color: #717171;
  font: 16px 'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
body a {
  text-decoration: none;
  border-bottom: 0.0625em dotted #024a7f;
}
body a:link {
  color: #024a7f;
}
body a:visited,
body a:hover {
  color: #393939;
}
body a:hover {
  color: #0072bc;
}
body h1 {
  font-size: 3em;
  font-weight: normal;
  letter-spacing: 0.041666666666666664em;
  text-transform: uppercase;
}
body p span.title {
  font-weight: bold;
}
body h1 {
  margin: 0.3em 0 0 -2em;
  text-align: center;
}
body p {
  clear: both;
}
body form {
  margin: 1.25em auto 4.5em auto;
  width: 55%;
  text-align: left;
}
body form label {
  margin: 1em;
  display: block;
}
body form input,
body form select {
  width: 100%;
  margin-top: 0.3125em;
  display: block;
}
body form input[type='submit'] {
  width: auto;
  float: right;
  padding: 0.1388888888888889em 0.6666666666666666em;
}
body #toolbar {
  text-align: left;
}
body #toolbar ul {
  width: auto;
  margin: 0.625em auto;
  padding: 0 auto;
  display: table;
}
body #toolbar ul li {
  padding: 0.5em;
  display: inline-block;
}
body #toolbar ul span {
  padding: 0.5em;
}
body #header {
  background: url("../images/logo-pie.png") 0.8125em 0.8125em no-repeat;
  background-size: 4.6875em;
  height: 5.3125em;
  padding: 0.5em;
  padding-left: 6.125em;
}
body ul#listing {
  margin: 0;
  padding: 0;
}
body ul#listing li {
  margin: 0;
  padding: 0.6944444444444444em;
  padding-left: 3.0555555555555554em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}
body ul#listing li span.edit {
  float: right;
}
body ul#listing li span.edit a {
  padding: 0.1em 0.25em 0 0.25em;
}
body ul#listing li .status {
  margin: -0.6944444444444444em 0.5em -0.6944444444444444em -0.4166666666666667em;
  padding: 0;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
body ul#listing li .status .making,
body ul#listing li .status .ready,
body ul#listing li .status .inactive {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: inherit;
}
body ul#listing li .status .making p,
body ul#listing li .status .ready p,
body ul#listing li .status .inactive p {
  margin: 0;
  padding: 2.7777777777777777em 0.6944444444444444em 0.2777777777777778em 0.6944444444444444em;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.5em;
}
body h1 {
  text-shadow: 0 1px 0 #02375f;
}
body #header {
  background-color: #024a7f;
  border-top: 1px solid #0360a5;
  border-bottom: 3px solid #02375f;
  color: #fff;
}
body form {
  font-size: 1.5em;
  text-shadow: 0 1px 0 #e6e6e6;
}
body form input,
body form select,
body form option {
  background-color: #fff;
  border: 1px solid #02375f;
  border-radius: 0.1388888888888889em;
  color: #024a7f;
  font: 1em 'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body form input[type='file'] {
  background-color: transparent;
  border: none;
  font-size: 1em;
  padding-top: 0.5em;
}
body form input[type='submit'] {
  background-color: #024a7f;
  border-color: #404040;
  border-radius: 1em;
  color: #fff;
  text-shadow: 0 1px 0 #8d8d8d;
}
body #toolbar {
  background-color: #023b66;
  border-top: 1px solid #0376ca;
  border-bottom: 1px solid #022f52;
}
body #toolbar ul li {
  border-radius: 0.625em;
  color: #f2f2f2;
  text-shadow: 0 1px 0 #022f52;
}
body #toolbar ul li:hover {
  background-color: #024a7f;
}
body #toolbar ul li.current {
  background-color: #022f52;
}
body #toolbar ul li.current a,
body #toolbar ul li.current a:link,
body #toolbar ul li.current a:visited,
body #toolbar ul li.current a:active,
body #toolbar ul li.current a:hover {
  color: #fff;
}
body #toolbar ul li a {
  border-bottom: 0;
}
body #toolbar ul li a:link {
  color: #bbb;
}
body #toolbar ul li a:visited {
  color: #bbb;
}
body #toolbar ul li a:active {
  color: #fff;
}
body #toolbar ul li a:hover {
  color: #fff;
}
body #toolbar ul span {
  color: #f28b00;
  text-shadow: 0 1px 0 #02233e;
}
body ul#listing li {
  background-position: 0.2777777777777778em center;
  background-repeat: no-repeat;
  background-size: 2.2222222222222223em 2.2222222222222223em;
  background-color: #adadad;
  color: #fff;
  text-shadow: 0px 1px 0px #8d8d8d;
  font-size: 2.25em;
  font-weight: normal;
  letter-spacing: 0.027777777777777776em;
  text-overflow: ellipsis;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #686868;
}
body ul#listing li.sweet {
  background-image: url("../images/icon-sweet.png");
}
body ul#listing li.savory {
  background-image: url("../images/icon-savory.png");
}
body ul#listing li.today {
  background-color: #cbcbcb;
  border-top: 1px solid #8e8e8e;
  border-bottom: 1px solid #fff;
  color: #0072bc;
  text-shadow: 0 1px 0 #024a7f;
}
body ul#listing li.today span.edit a,
body ul#listing li.today span.edit a:link,
body ul#listing li.today span.edit a:visited {
  background-color: #d5d5d5;
  color: #0072bc;
  text-shadow: 0px -1px 0 #024a7f;
  border-radius: 5px;
  border-top: 1px solid #7a7a7a;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #7a7a7a;
}
body ul#listing li span.edit a,
body ul#listing li span.edit a:link,
body ul#listing li span.edit a:visited {
  background-color: #bbb;
  color: #393939;
  text-shadow: 0px 1px 0 #fff;
  text-transform: lowercase;
  border-radius: 5px;
  border-top: 1px solid #8d8d8d;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #8d8d8d;
}
body ul#listing li .status {
  color: #343434;
  font-size: 1em;
}
body ul#listing li .status .making,
body ul#listing li .status .ready,
body ul#listing li .status .inactive {
  cursor: pointer;
  font-size: 0.5em;
  text-transform: lowercase;
  background-size: 2.7777777777777777em;
  border: 0.2777777777777778em solid #adadad;
  letter-spacing: 0;
  opacity: 0.2;
}
body ul#listing li .status .making:hover,
body ul#listing li .status .ready:hover,
body ul#listing li .status .inactive:hover,
body ul#listing li .status .making.on,
body ul#listing li .status .ready.on,
body ul#listing li .status .inactive.on {
  opacity: 1;
}
body ul#listing li .status .making {
  background: url("/images/stage-making.png") top center no-repeat;
}
body ul#listing li .status .ready {
  background: url("/images/stage-ready.png") top center no-repeat;
}
body ul#listing li .status .inactive {
  background: url("/images/stage-inactive.png") top center no-repeat;
}
